<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <nav class="mt-3 mx-5 d-flex justify-content-end">
            <a href="/index" class="px-2 link-secondary link-underline link-underline-opacity-0">Home</a>
            <a href="/booklist" class="px-2 active link-offset-2 link-secondary link-underline-success">Books</a>
    </nav>
    <div class="container my-5">
        <div class="mb-5 d-flex justify-content-between align-items-end">
            <h1 class="display-4 mb-0">Books</h1>
            <a href="/addbook" class="btn btn-success text-nowrap px-4 mx-3">Add a book</a>
        </div>

        <table class="table table-striped align-middle table-borderless">
            <tr class="table-success">
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
                <tr th:each = "book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.publicationYear}"></td>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.price}"></td>
                    <td  class=""><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-secondary btn-sm">Edit</a></td>
                    <td  class=""><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
        </table>
     </div>
  </body>
</html>