<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <div class="container my-5">
        <h1 class="display-4 mb-4">Books</h1>

        <table class="table table-striped align-middle table-borderless">
            <tr class="table-success">
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
                <tr th:each = "book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.publicationYear}"></td>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.price}"></td>
                    <td  class=""><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-secondary btn-sm">Edit</a></td>
                    <td  class=""><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
        </table>

        <div class="mt-5 d-flex justify-content-center">
            <a href="/addbook" class="btn btn-primary btn-success col-2">Add Books</a>
        </div>
     </div>
  </body>
</html>